body {
	font-family: sans-serif;
	background-color: #2b2e33;
	font-size: 1.5rem;
}

.title {
	font-size: 3rem;
	color: #fd6534;
}

.subtitle {
	font-size: 2.5rem;
	color: #ffc67b;
}

a {
	text-decoration: none;
}

.link {
	color: #8c8ceb;
}

li::marker {
	color: #8c8ceb;
}
